/* BACKGROUND */
body {
    background: #111 url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
    margin: 0;
    font-family: Arial;
    color: #fff;
}

/* TOP TITLE */
.page-header {
    text-align: center;
    padding-top: 30px;
}

.page-header h1 {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
}

.page-header p {
    color: #59d4ff;
    margin-top: -10px;
    font-size: 14px;
}

/* GALLERY CONTAINER */
.gallery-container {
    width: 95%;
    margin: 0 auto;
}

/* THUMB WRAPPER */
.thumb-wrapper {
    background: rgba(0, 0, 0, 0.85);
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 10px #000, 0 0 10px #000;
}

.thumb-carousel {
    display: flex;
    overflow-x: auto;
    gap: 6px;
    scrollbar-width: none;
    flex: 1;
}

.thumb-carousel::-webkit-scrollbar {
    display: none;
}

.thumb {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border: 3px solid #222;
    border-radius: 4px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.25s;
}

.thumb.active {
    opacity: 1;
    border-color: #41c3ff;
    box-shadow: 0 0 10px #41c3ff;
}

/* SMALL ARROW BUTTONS (TOP) */
.arrow-small {
    width: 34px;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* MAIN VIEW FRAME */
.main-view {
    background: rgba(20, 20, 20, 0.9) url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
    margin-top: 25px;
    padding: 40px 0;
    border-radius: 6px;
    box-shadow: inset 0 0 12px #000, 0 0 12px #000;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-image-box {
    text-align: center;
}

.main-view img {
    width: 58%;
    border-radius: 4px;
    box-shadow: 0 0 25px #000;
}

.caption-text {
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 10px;
    opacity: 0.8;
}

/* MAIN NAV BUTTONS */
.arrow-btn {
    width: 40px;
    height: 65px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-prev {
    left: 20px;
}

.main-next {
    right: 20px;
}